body {
  background: var(--color2);
}

.centerPercent {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  /*
  This doesn't work
  margin-left: -25%;
  margin-top: -25%;
  */

  width: 40%;
  height: 50%;

  padding: 20px;
  background: var(--color1);
  color: white;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}
