.btf_icon {
	font-size: 42px;
}

.btf_container {
}
.btf_container_flex {
	display:	flex;
	flex-wrap: wrap;
	align-items: flex-start;
}
.btf_block {
    width: 50%;
    margin-bottom: 90px;
    min-width: 411px;
}

.btf_title {
    font-weight: 700;
    font-size: 22px;
    margin-top: 13px;
    display: block;
    margin-bottom: 20px;
}
.btf_content {
    padding-top: 20px;
    padding-bottom: 20px;
}
.btf_content_row_halfhalf {
    font-size: 13px;
    float: left;
    width: 50%;
    padding-bottom: 12px;
}
.strongtext {
  font-weight: 700;
}

.btf_content .font_utilicon {
position: relative;
top: 2px;
color:#96abc1;
}