.btf_hitarea {
    height: 57px;
    position: absolute;
    right: -23px;
    top: -20px;
    width: 57px;
    z-index: 10;
}

.btf_opener{
float: right;
    padding: 6px 6px 0 0;	
}

.btf_equipment_box {
  transition: max-height .35s linear;
  overflow: hidden;
}
.btf_equipment_box.closed {
	max-height: 50px;
}
.btf_equipment_header {
    position: relative;
    margin-bottom: 30px;
}
.btf_equipment_title {
	font-size: 16px;
	font-weight: 700;
	line-height: 21px;
	width: 66%;
	display: inline-block;
}
.btf_equipment_counter {
    color: rgb(142, 158, 181);
    float: right;
    font-size: 13px;
    margin-right: 40px;
}
.btf_equipment_content {
	font-weight: normal;
    font-size: 13px;
    
}
.btf_content_box {
    box-shadow: 0 0 3px 1px #d3d4e2;
    border-radius: 5px;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(233, 239, 245) 156%);
    margin-bottom: 15px;
    padding: 18px 22px;
    position: relative;
}

.btf_equipment_row {margin-left: 26px;margin-bottom: 20px;}