/*RESET RULES*/

html {
    box-sizing: border-box;
    /* font-size: 16px; */
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: Helvetica, sans-serif;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
    vertical-align: top;
}

/*RESET RULES END*/


@font-face {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://prezi2.com/test/layout/assets/helvetica-roman.woff) format("woff")
}

@font-face {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://prezi2.com/test/layout/assets/helvetica-medium.woff) format("woff")
}

@font-face {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://prezi2.com/test/layout/assets/helvetica-bold.woff) format("woff")
}

@font-face {
    font-family: "Futura";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://prezi2.com/test/layout/assets/futura.woff) format("woff")
}

@font-face {
    font-family: "NavIcon";;
    src: url(https://prezi2.com/test/layout/assets/nav-icon.woff) format("woff")
}

@font-face {
    font-family: "UtilIcon";;
    src: url(https://prezi2.com/test/layout/assets/utilities-icon.woff) format("woff")
}

@font-face {
    font-family: "VehIcon";;
    src: url(https://prezi2.com/test/layout/assets/vehicle-icon.woff) format("woff")
}


.font_navicon::before,
.font_navicon {
    font-family: "NavIcon";
    text-decoration: none;
}

.font_utilicon::before,
.font_utilicon {
    font-family: "UtilIcon";
    text-decoration: none;
}

.font_vehicon::before,
.font_vehicon {
    font-family: "VehIcon";
    text-decoration: none;
    text-transform: none;
    display: inline-block;
}

.content_icon {

    display: inline-block;

    margin-left: 10px;
}

.content_icon.exclamark {
    margin-left: 5px;
}

.content_icon.openergy::before {
    content: "a";
}

.content_icon.openergy:hover::before {
    content: "b";
}

#vehicle_toggle .content_icon:before {
    left: 1px;
    width: 16px;
    position: absolute;
    overflow: hidden;
}

#vehicle_toggle .content_icon.close {
    /* color: #273c50; */
}

.content_icon.expand::before {
    content: "c";
}

.content_icon.close::before {
    content: "d";
}

.content_icon.tooltip::before {
    content: "e";
}

.content_icon.tooltip:hover::before {
    content: "f";
}

.content_icon.cog::before {
    content: "g";
}

.content_icon.cog:hover::before {
    content: "h";
}

.content_icon.focusplus::before {
    content: "i";
}

.content_icon.focusplus:hover::before {
    content: "j";
}

.content_icon.focusminus::before {
    content: "k";
}

.content_icon.focusminus:hover::before {
    content: "l";
}

.content_icon.checkmark::before {
    content: "m";
    font-size: 10px;
}

.content_icon.exclamark::before {
    content: "n";
    font-size: 10px;
}

/*PAGE & MAIN CONTENT LAYOUT*/

body {
    background: rgb(240, 244, 251);
    -webkit-font-smoothing: antialiased;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#header_placeholder {
    height: 60px;
}


/*CONTENT STRUCTURE*/

.main-content {
    max-width: calc((1383px + (100vw - 1383px) / 4));
    width: calc(100% - 20px);
    min-height: 100vh;
    display: block;
    color: #273c50;
    margin: 0 auto;
    padding-top: 30px;
    padding-left: calc(((100vw - 1383px) / 8) * 0.8);
    padding-right: calc(((100vw - 1383px) / 8) * 0.8);
    padding-bottom: 120px;
    background: rgb(255, 255, 255);
    border-left: 1px solid rgb(237, 237, 237);
    border-right: 1px solid rgb(237, 237, 237);
    border-top: 0;
    transition: opacity 0.3s ease 0s, margin-left 0.3s ease 0s;
    position: relative;
}


#content_head {
    max-width: 100%;
    padding: 0px calc(((100vw - 1383px) / 8) * 0.2 + 10px) 20px;
    margin: 0 auto;
}

#content_main {
    /* padding-top: 30px; */
}

#content_pdf {
    float: right;
    padding: 5px 16px 5px;
    border: 1px;
    color: #273c50;
    border-radius: 4px;
    border: 1px solid #273c50;
    transition: all .3s;
    line-height: 20px;
    margin-top: 10px;
}

#content_pdf:hover {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, .5);
    transform: scale(1.065);
}

#content_type {
    padding-left: 5px;
    padding-right: 25px;
    display: block;
    line-height: normal;
    font-size: 25px;
    font-weight: 700;
    font-family: Futura;
    color: #273c50;
}

#content_serial {
    padding-left: 5px;
    display: block;
    color: rgb(157, 157, 173);
    font-weight: 500;
    letter-spacing: 2px;
    line-height: normal;
    font-size: 16px;
}


.debt_warrant_inactive {
    display: none;
}

.debt_wanted_inactive {
    display: none;
}

.debt_warrant,
.debt_wanted {
    display: block;
    color: rgb(39, 60, 80);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 700;
    padding: 2px 20px;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.098);
    border: 1px solid rgb(39, 60, 80);
    background-color: rgb(255, 149, 149);
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to top, rgb(255, 218, 139), rgb(255, 234, 187));
    margin-bottom: 30px;
}

.debt_warrant { /* line-height: 42px; */
    height: 54px;
}

.debt_warrant_inner {

    display: inline-block;

    margin-top: 15px;

    vertical-align: top;
}

.debt_wanted {
    background-image: linear-gradient(to top, #df5d60, #f38186);
    padding: 18px;
    line-height: 16px;
}

.debt_warrant .font_vehicon {

    margin-right: 20px;

    font-size: 40px;

    vertical-align: top;

    padding-top: 5px;

    -webkit-font-smoothing: antialiased;

    -moz-osx-font-smoothing: grayscale;

    font-weight: 500;
}


#content_a1_vehicle_data {
    grid-area: data;
    border-bottom: 0;
    visibility: visible;
    opacity: 1;
    transition: all .3s linear;
}

#content_a2_vehicle_visual {
    grid-area: visual;
    transition: all .5s linear;
    visibility: visible;
    position: relative;
}

#content_a3_vehicle_extra {
    grid-area: extra;
    border-right: 0;
    visibility: visible;
    opacity: 1;
    transition: opacity .35s linear, visibility .35s linear;
}

#content_b1_registration {
    grid-area: reg;
}

#content_c1_checklist {
    display: none;
}

#content_b1_1_registration {
}

#content_b1_2_checklist {
}

.checklist .hitarea {
    position: absolute;
    width: 57px;
    height: 57px;
    /* background: black; */
    z-index: 10;
    top: 0;
    right: 0px;
}

.debt_warrant.normalScreen {
    display: none;
}

.debt_warrant.wideScreen {
    display: block;
}

.debt_wanted.normalScreen {
    display: none;
}

.debt_wanted.wideScreen {
    display: block;
    color: #ffffff;
}


#content_grid {

    width: 100%;

    max-width: initial;

    display: grid;

    position: relative;

    padding: 0px calc(((100vw - 1383px) / 8) * 0.2 + 10px) 20px;

    grid-template-columns: 420px 438px auto 474px;

    grid-template-rows: 357px auto;

    grid-template-areas: "data visual empty reg" "data extra empty reg";

    z-index: 5;

    /* transition: all 2s linear; */
}


.content_box {

}

.content_box:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    box-shadow: 0px 0px 5px 0px rgb(213, 213, 218);
    border-radius: 0;
    /* transition: box-shadow .35s cubic-bezier(1, -0.01, 1, 1.04); */
}


/********************CONTENT SECTION*/

/*CHECKLIST*/

.content_box {
    border: 0px;
    /* border-radius: 5px; */
    background: #F9FBFF;
    transition: background-image 0.4s ease 0s, border 0.4s ease 0s;
    /* min-height: 200px; */
    /* padding: 20px; */
    position: relative;
    /* box-shadow: none; */
}

.content_box_head {

    /* border-bottom: 1px solid rgb(237, 237, 237); */

    padding: 19px 20px 20px;
}

.content_box_head:after,
.content_box_block:after,
.content_box_row:after {
    content: "";
    clear: both;
    display: table;
}

.content_box_head.separated {
    border-bottom: 1px solid rgb(237, 237, 237);
}

.content_box_title {
    float: left;
    min-width: 41%;
    font-weight: 700;
    font-size: 20px;
}

.content_box_title_right {

    float: right;

    width: 59%;
}

.content_box_checklist_opener {
    float: right;
    padding: 6px 6px 0 0;
}

.content_box_checklist_summary {
    float: left;
    font-size: 13px;
    line-height: 18px;
}

.content_box_summary {

}

.checklist .content_box_block {
    padding-top: 0;
    padding-bottom: 0;
}

.content_box_block {

    padding: 8px 0;

    /* padding: 0; */

    border-bottom: 1px solid rgb(237, 237, 237);

    clear: both;
}

.content_box_block:last-child {
    border-bottom: 0;
    /* padding-bottom: 0; */
}

.content_box_row {

    padding: 8px 20px;
}

.content_box_block.separated .content_box_row {
    border-bottom: 1px solid rgb(237, 237, 237);
}

.content_box_block.separated .content_box_row:last-child {
    border-bottom: 0;
}


.content_box_halfhalf {
    float: left;
    width: 50%;
}

.content_box_halfhalf:first-child {
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
}

.content_box_halfhalf:last-child {
}

.content_box_4_6:first-child {
    float: left;
    width: 41%;
    font-size: 13px;
    font-weight: 400;
    padding-right: 10px;
}

.content_box_4_6:last-child {
    float: left;
    width: 59%;
    font-size: 13px;
    font-weight: 400;
}

.emphasis {
    background: rgb(240, 246, 255);
}

.downarrow {
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgb(149, 171, 193);
    transition: transform 0.6s ease 0s;
    transform: rotate(0deg);
    position: absolute;
    top: calc(50% - 3px);
    left: calc(50% - 6px);
}

.downarrow.closed {
    transform: rotate(180deg);
}

.content_box_icon {
    height: 10px;
    margin-left: 8px;
    vertical-align: unset;
}

.content_box .strongtext {
    font-weight: 700;
    font-size: 13px;
}

.content_box .smalltext {
    font-size: 11px;
    font-weight: 600;
    vertical-align: middle;
}

.content_box_title.smalltext {
    font-size: 16px;
    font-weight: 600;
    vertical-align: middle;
}

.content_box_naked {
    border-bottom: 1px solid rgb(237, 237, 237);
}


#content_a2_vehicle_visual > div > img {
    width: 100%;
    border-top-right-radius: 5px;
}

.nodisplay {
    display: none !important;
}

.checklist .content_box_head.separated {

    padding-bottom: 19px;
}

.checklist.closed .content_box_head.separated {
    border-bottom: 0;
}

.checklist.closed .content_box_block {
    display: none;
}

#content_box_vehicle_align {
    height: 310px;
    border-bottom: 1px solid rgb(237, 237, 237);
}

.content_subtext {
    color: #96abc1;
    padding-top: 3px;
}

sup {
    color: #273c50;
    line-height: 0;
}

.fixheight {

    height: 47px;

    border-bottom: 1px solid rgb(237, 237, 237);

    padding-top: 0px;

    /* padding-bottom: 12px; */
}

.focusrow {

    padding-top: 8px;

    position: absolute;

    bottom: 0;

    width: 438px;

    transition: opacity .3s linear, visibility 0.3s linear;

    visibility: visible;

    opacity: 1;
}

.focusrow div::nth-child(1) {
    background: red !important;
}

.focustext {

    line-height: 34px;
}

.focusrow .content_icon {
    /* padding-bottom: 3px; */
    /* height: 13px; */
    display: inline-block;
    width: unset;
    margin-top: 11px;
    margin-left: 0;
}

.registration_status {
    float: left;
    height: 10px;
    width: 10px;
    background-image: radial-gradient(circle at 50% 50%, #b4ec51, #429321 80%);
    border-radius: 5px;
    margin-left: 0;
    display: inline-block;
    margin-top: 3px;
    margin-right: 5px;
    margin-bottom: 1px;
}

/*VEHICLE*/

#vehicle_svg {
    position: absolute;
    height: 310px;
    width: 438px;
    padding: 70px 40px 0px;
    transition: all .35s linear;
    top: 0;
    right: 0;
    background: #F9FBFF;
    border-top-right-radius: 5px;
}

#vehicle_svg img {
}

.vehicle_subtext {
    font-size: 13px;
    text-align: center;
    font-weight: 600;
    width: 260px;
    position: absolute;
    left: 110px;
    top: 202px;
    transition: all .35s linear;
}

#vehicle_toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    color: gray;
    width: 17px;
    height: 17px;
    cursor: pointer;
}

#vehicle_toggle .content_icon:hover {
    color: #273c50;
}

#vehicle_toggle .content_icon {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: all .35s ease-in-out;
    color: #96abc1;
    margin-left: 0;
    /* left: -2px; */
    /* width: 18px; */
}

#vehicle_toggle .content_icon.show {
    visibility: visible;
    opacity: 1;
    /* color: #273c50; */
}

.vehicle_expanded #content_a1_vehicle_data {
    /* display: none; */
    visibility: hidden;
    opacity: 0;
}

.vehicle_expanded #content_a2_vehicle_visual #vehicle_svg {
    width: 858px;
    height: 549px;
    position: absolute;
    top: 0;
    border-radius: 5px;
    right: 0;
    /* box-shadow: 0px 0px 5px 0px rgb(213, 213, 218); */
    border-bottom: 0;
}

.vehicle_expanded #content_a3_vehicle_extra {
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    transition: opacity .35s linear, visibility 0.35s linear;
}

.vehicle_expanded .focusrow {
    /* display: none; */
    visibility: hidden;
    opacity: 0;
}

.vehicle_expanded #vehicle_svg {
    padding: 90px 80px 0;
}

.vehicle_expanded .vehicle_subtext {
    top: 302px;
    left: 320px;
}

#vehicle_expanded_info {
    position: absolute;
    bottom: -150px;
    right: 0;
    width: 438px;
    opacity: 0;
    visibility: hidden;
    transition: all .35s linear;
    padding: 10px 20px;
    border-top: 1px solid #ededed;
}

.vehicle_expanded #vehicle_expanded_info {
    visibility: hidden;
    opacity: 0;
    width: 858px;
    bottom: 2px;
    right: 0;
}


.vehicle_expanded .content_box:before {
}


#content_a2_vehicle_visual #vehicle_svg:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: none;
    border-radius: 0;
    /* transition: box-shadow .35s cubic-bezier(1, -0.01, 1, 1.04); */
}

.vehicle_expanded #content_a2_vehicle_visual #vehicle_svg:before {
    box-shadow: 0px 0px 5px 0px rgb(213, 213, 218);
    border-radius: 5px;
}


@media all and (min-width: 1920px) {
    .main-content {
        max-width: 1517px;
        padding: 53px 53px 130px;
    }

    #content_grid {
        padding: 0 24px 24px;
    }
}


/*GRID - MEDIUM*/
/*@media (min-width: 1401px) {*/

#content_a1_vehicle_data {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px solid rgb(237, 237, 237);
}

#content_a2_vehicle_visual {
    border-top-right-radius: 5px;
}

#content_a3_vehicle_extra {
    border-bottom-right-radius: 5px;
    /* padding-bottom: 10px; */
}

#content_b1_registration {
}

#content_c1_checklist {
}

#content_b1_1_registration {
    border-radius: 5px;
}

#content_b1_2_checklist {
    border-radius: 5px;
    margin-bottom: 30px;
}

#content_a1_vehicle_data::before {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#content_a2_vehicle_visual::before {
    border-top-right-radius: 5px;
}

#content_a3_vehicle_extra::before {
    border-bottom-right-radius: 5px;
}

#content_b1_registration::before {
}

#content_c1_checklist::before {
}

#content_b1_1_registration::before {
    border-radius: 5px;
}

#content_b1_2_checklist::before {
    border-radius: 5px;
}


/*}*/


/*GRID - MEDIUM*/
@media (min-width: 1401px) {

    #content_a1_vehicle_data {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-right: 1px solid rgb(237, 237, 237);
        max-height: 757px;
        /* padding-bottom: 10px; */
    }

    #content_a2_vehicle_visual {
        border-top-right-radius: 5px;
        box-shadow: none;
    }

    #content_a3_vehicle_extra {
        border-bottom-right-radius: 5px;
        max-height: 400px;
    }

    #content_b1_registration {
    }

    #content_c1_checklist {
    }

    #content_b1_1_registration {
        border-radius: 5px;
        padding-bottom: 10px;
    }

    #content_b1_2_checklist {
        border-radius: 5px;
    }

    #content_a1_vehicle_data::before {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    #content_a2_vehicle_visual::before {
        border-top-right-radius: 5px;
    }

    #content_a3_vehicle_extra::before {
        border-bottom-right-radius: 5px;
    }

    #content_b1_registration::before {
    }

    #content_c1_checklist::before {
    }

    #content_b1_1_registration::before {
        border-radius: 5px;
    }

    #content_b1_2_checklist::before {
        border-radius: 5px;
    }


}


/*GRID - MEDIUM*/
@media (max-width: 1400px) {
    .main-content {
        max-width: calc(1001px + (100vw - 1001px) / 4);
        width: 99%;
    }

    #content_head {
        padding: 0 0 20px;
        max-width: 960px;
    }

    #content_main {
    }

    #content_grid {
        max-width: 958px;
        margin: 0 auto;
        padding: 0;
        background: #F9FBFF;
        border-radius: 5px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 393px auto 1fr;
        box-shadow: 0px 0px 5px 0px rgb(213, 213, 218);
        grid-template-areas: "data visual" "data reg" "extra reg";
        transition: all;
        visibility: visible;
        opacity: 1;
    }

    .content_box:before {
        display: none;
    }


    #content_a1_vehicle_data {
        border-radius: 5px 0 0 0;
        border-right: 1px solid rgb(237, 237, 237);
        border-bottom: 1px solid rgb(237, 237, 237);
    }

    #content_a2_vehicle_visual {
        border-radius: 0 5px 0 0;
        border-bottom: 1px solid rgb(237, 237, 237);
    }

    #content_a3_vehicle_extra {
        border-radius: 0 0 0 5px;
        border-right: 1px solid rgb(237, 237, 237);
    }

    #content_b1_registration {
        transition: all .35s cubic-bezier(1, -0.01, 1, 1.04);
        visibility: visible;
        opacity: 1;
    }

    #content_c1_checklist {
        display: none;
    }

    #content_b1_1_registration {
        border-radius: 0 0 5px 0;
    }

    #content_b1_2_checklist {
        border-bottom: 1px solid rgb(237, 237, 237);
        margin-bottom: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    #content_a1_vehicle_data::before {
    }

    #content_a2_vehicle_visual::before {
    }

    #content_a3_vehicle_extra::before {
    }

    #content_b1_registration::before {
    }

    #content_c1_checklist::before {
    }

    #content_b1_1_registration::before {
    }

    #content_b1_2_checklist::before {
    }

    #vehicle_svg::before {
        box-shadow: 0px 0px 5px 0px rgb(213, 213, 218);
    }

    .debt_warrant.wideScreen {
        display: none;
    }

    .debt_warrant.normalScreen {
        max-width: 960px;
        margin: 0px auto 30px;
        display: block;
    }

    .debt_wanted.wideScreen {
        display: none;
    }

    .debt_wanted.normalScreen {
        max-width: 960px;
        margin: 0 auto 30px;
        display: block;
        color: #ffffff;
    }

    #content_box_vehicle_align {
        height: 339px;
    }

    .fixheight {

        height: 54px;
    }

    .focusrow {
        border-bottom: 0;
        padding-top: 8px;
        width: 100%;
    }

    #content_grid.vehicle_expanded {
        max-height: 544px;
        /* overflow: hidden; */
        /* box-shadow: none; */
        height: 544px;
        visibility: hidden;
        opacity: 1;
    }

    #vehicle_svg {
        width: 479px;
        height: 339px;
    }

    #content_a2_vehicle_visual #vehicle_svg:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        /* z-index: 1000000000; */
        box-shadow: none;
        border-radius: 0;
        /* transition: box-shadow .35s cubic-bezier(1, -0.01, 1, 1.04); */
    }

    .vehicle_expanded #content_a2_vehicle_visual #vehicle_svg:before {

        box-shadow: 0px 0px 5px 0px rgb(213, 213, 218);

    }

    .vehicle_expanded #content_a2_vehicle_visual #vehicle_svg {
        width: 960px;
        /* z-index: 20; */
    }

    .vehicle_expanded .vehicle_subtext {
        top: 350px;
    }

    .vehicle_expanded #content_a2_vehicle_visual {
    }

    .vehicle_expanded #content_b1_registration {
        visibility: hidden;
        opacity: 0;
        transition: all .35s cubic-bezier(0, 0.07, 0, 1.06);
    }

    .vehicle_expanded #content_b1_registration::before {
    }

    .vehicle_expanded #content_c1_checklist {
    }

    .vehicle_expanded #content_b1_2_checklist {
    }

    .vehicle_expanded #content_b1_1_registration {
    }

    .vehicle_expanded #content_b1_1_registration::before {
    }

    .vehicle_expanded #content_b1_2_checklist::before {
    }


}

/*GRID - MEDIUM END*/


/*GRID - SMALL*/
@media (max-width: 1000px) {

    .main-content {
        max-width: calc(550px + (100vw - 550px) / 4);
        /* width: 100%; */
        margin: 0px auto;
        border: 0px;
        min-height: 80vh;
        padding-bottom: 30px;
        margin-bottom: 80px;
        overflow: hidden;
    }

    #content_head {
        max-width: initial;
        margin: 0 15px;
    }

    .debt_warrant.normalScreen {

        max-width: initial;

        margin: 0 15px 20px;
    }

    .debt_wanted.normalScreen {

        max-width: initial;

        margin: 0 15px 20px;
    }

    #content_main {
        width: 100%;
        max-width: 550px;
        padding-left: calc(((100vw - 1001px) / 8) * 0.8);
        padding-right: calc(((100vw - 1001px) / 8) * 0.8);
        padding-top: 0px;
        background: rgb(255, 255, 255);
        /* border-left: 1px solid rgb(237, 237, 237); */
        /* border-right: 1px solid rgb(237, 237, 237); */
        transition: opacity 0.3s ease 0s, margin-left 0.3s ease 0s;
        margin: 0 auto;
        /* position: absolute; */
    }

    #content_grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "reg" "visual" "data" "extra";
        box-shadow: none;
        background: none;
        /* border-top-left-radius: 5px; */
    }

    .main-content .content_box {
        margin: 0px 15px 20px;
        box-shadow: 0px 0px 5px 0px rgb(213, 213, 218);
        border-radius: 5px;
    }

    #content_a1_vehicle_data {
        border-top: 1px solid rgb(237, 237, 237);
        border-radius: 5px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        box-shadow: none;
        margin-bottom: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 0;
        /* BORDER-LEFT: 0; */
    }

    #content_a2_vehicle_visual {
        border: 1px solid rgb(237, 237, 237);
        border-radius: 5px;
        margin-bottom: 0;
        border-bottom: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        box-shadow: none;
        height: 375px;
        border: 0;
        transition: height .035s ease-in-out;
    }

    #content_a3_vehicle_extra {
        border: 1px solid rgb(237, 237, 237);
        border-radius: 5px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top: 0;
        box-shadow: none;
        border-left: 0;
        border-right: 0;
    }

    #content_b1_registration {
    }

    #content_c1_checklist {
    }

    #content_b1_1_registration {
        border: 0;
        border-radius: 5px;
        box-shadow: none;
        padding-bottom: 10px;
    }

    #content_b1_2_checklist {
        box-shadow: none;
        display: block;
        border: 0;
        margin-bottom: 20px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    #content_b1_registration {
        display: block;
    }

    #content_c1_checklist {
        display: none;
        border: 1px solid rgb(237, 237, 237);
    }

    #c1_content {
        display: none;
    }

    #content_a1_vehicle_data::before {
        /* box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.098); */
    }

    #content_a2_vehicle_visual::before {
        /* box-shadow: 0px 0px 5px 0px rgb(213,213,218); */
        border-top-left-radius: 5px;
    }

    #content_a3_vehicle_extra::before {
        box-shadow: 0px 0px 5px 0px rgb(213, 213, 218);
    }

    .content_box:before {
        display: block;
    }


    #content_a1_vehicle_data .content_box_head {
        display: none;
    }

    .focusrow {
        border-bottom: 0;
    }

    #content_box_vehicle_align {
        height: auto;
    }


    .vehicle_subtext {
        top: 230px;
    }

    #content_grid.vehicle_expanded {
        max-height: 1080px;
        height: auto;
        border: 0;
        overflow: visible;
    }


    #content_a2_vehicle_visual #vehicle_svg {
        width: 520px;
        border-radius: 5px;
        height: 316px;
        max-width: 100%;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .vehicle_expanded #content_a2_vehicle_visual #vehicle_svg {
        width: 520px;
        padding: 90px 30px 0;
        max-height: 350px;
        box-shadow: none;
    }

    .vehicle_expanded .vehicle_subtext {
        top: 250px;
        left: 110px;
    }

    .vehicle_expanded #content_a2_vehicle_visual {
        border: 0;
        max-height: 340px;
    }

    .vehicle_expanded #content_b1_registration {
        visibility: visible;
        opacity: 1;
        transition: none;
    }

    .vehicle_expanded .content_box:before {
        box-shadow: none;
        transition: none;
    }

    .vehicle_expanded #content_a2_vehicle_visual::before { /* box-shadow: none; */
    }

    .vehicle_expanded #content_b1_registration::before {
    }

    .vehicle_expanded #content_c1_checklist {
    }

    .vehicle_expanded #content_b1_2_checklist {
    }

    .vehicle_expanded #content_b1_1_registration {
        box-shadow: none;
    }

    .vehicle_expanded #content_b1_1_registration::before {
        box-shadow: 0px 0px 5px 0px rgb(213, 213, 218);
    }

    .vehicle_expanded #content_b1_2_checklist::before {
        box-shadow: 0px 0px 5px 0px rgb(213, 213, 218);
    }


}

/*GRID - SMALL END*/

